*.jar
*.ear
*.war
*.so
*.exe
*.dll
*.o
*.dep
*.rpm
*.obj
*.~*
*.class
*~
*.log
.directory
*/.directory
target/
*/target/
*/*/target
*/*/*/target
*.event
build/
*/build/
*/*/build
*/*/*/build
.settings/
.project
.classpath
.idea
.idea/
*/.idea/
*.iml
node_modules/
bower_components/
elm-stuff/
/data/
.DS_Store
